Repository devmessias/desafios_idwall: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, flake8, check-yaml, check-ast, check-docstring-first

pytest:
  name: pytest
  entry: pytest
  require_serial: true
  language: system
  args:
  - tests
  - --benchmark-skip
  pass_filenames: false

flake8:
  name: flake8
  entry: flake8 src
  language: system

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: python
  stages:
  - commit

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: python

check-docstring-first:
  name: check docstring is first
  description: checks a common error of defining a docstring after code.
  entry: check-docstring-first
  language: python

build: keep the requirements sync
  crawlers/Makefile
  crawlers/requirements.in
  crawlers/requirements.txt
  crawlers/requirements_dev.in
  crawlers/requirements_dev.txt
Due: none

test: convert k-number to int
  crawlers/setup.py
  crawlers/src/__init__.py
  crawlers/src/main.py
  crawlers/src/reddit/__init__.py
  crawlers/src/reddit/preprocessing.py
  crawlers/tests/test_preprocessing.py
Due: pytest, flake8, check-ast, check-docstring-first

feat: simple first page crawler
  .pre-commit-config.yaml
  crawlers/ANALISE.md
  crawlers/params.yaml
  crawlers/requirements.in
  crawlers/requirements.txt
  crawlers/src/reddit/preprocessing.py
  crawlers/src/reddit/subreddit.py
  crawlers/tests/test_preprocessing.py
Due: pytest, flake8, check-yaml, check-ast, check-docstring-first

feat: simple paggination mechanism
  crawlers/params.yaml
  crawlers/src/reddit/subreddit.py
Due: pytest, flake8, check-yaml, check-ast, check-docstring-first

feat: t from ETL
  crawlers/src/reddit/transforms.py
Due: pytest, flake8, check-ast, check-docstring-first

feat: simple cache mechanism using sqlite
  crawlers/Makefile
  crawlers/params.yaml
  crawlers/src/db/migration.py
  crawlers/src/db/orm.py
  crawlers/src/reddit/subreddit.py
Due: pytest, flake8, check-yaml, check-ast, check-docstring-first

feat: multiprocessing crawler
  crawlers/params.yaml
  crawlers/src/reddit/main.py
  crawlers/src/reddit/subreddit.py
Due: pytest, flake8, check-yaml, check-ast, check-docstring-first

feat: telegram bot int
  crawlers/Makefile
  crawlers/params.yaml
  crawlers/requirements.in
  crawlers/requirements.txt
  crawlers/src/__init__.py
  crawlers/src/reddit/main.py
  crawlers/src/reddit/subreddit.py
  crawlers/src/telegram/app.py
Due: pytest, flake8, check-yaml, check-ast, check-docstring-first

build: remove unnecessary dependencies
  crawlers/requirements.in
  crawlers/requirements.txt
Due: none

docs: how to use
  crawlers/HOWTOUSE.md
Due: none

feat: telegram bot can resset the db
  crawlers/src/telegram/app.py
Due: pytest, flake8, check-ast, check-docstring-first

fix: some reddit links can be relative
  crawlers/src/reddit/transforms.py
Due: pytest, flake8, check-ast, check-docstring-first

feat: logging requests
  crawlers/src/db/migration.py
  crawlers/src/reddit/subreddit.py
Due: pytest, flake8, check-ast, check-docstring-first

feat: new make targets and dockerfile
  Dockerfile
  crawlers/Makefile
  crawlers/params.yaml
  crawlers/setup.py
  crawlers/src/db/__init__.py
  crawlers/src/main.py
Due: pytest, flake8, check-yaml, check-ast, check-docstring-first

docs: add reference
  crawlers/src/telegram/app.py
Due: pytest, flake8, check-ast, check-docstring-first

fix: dockerfile location
  .pre-commit-config.yaml
  crawlers/Dockerfile
Due: check-yaml

fix: esqueci de comitar
  strings/ANALISE.md
  strings/HOWTOUSE.md
  strings/JavaTemplate/pom.xml
  strings/JavaTemplate/src/main/java/idwall/desafio/Main.java
  strings/JavaTemplate/src/main/java/idwall/desafio/string/IdwallFormatter.java
  strings/JavaTemplate/src/main/java/idwall/desafio/string/StringFormatter.java
  strings/Makefile
  strings/input.txt
  strings/output.txt
  strings/requirements.in
  strings/requirements.txt
  strings/requirements_dev.in
  strings/requirements_dev.txt
  strings/setup.py
  strings/src/data_ingest.py
  strings/src/main.py
  strings/src/preprocessing.py
  strings/src/transform.py
Due: pytest, flake8, check-ast, check-docstring-first

Path conditions:
  pytest: any of: \.py$, but not: .md$
  flake8: any of: \.py$, but not: .md$
  check-yaml: any of: \.(yaml|yml)$, but not: .md$
  check-ast: any of: \.py$, but not: .md$
  check-docstring-first: any of: \.py$, but not: .md$
